/* reordered entire css to follow the structure/flow of the html 
with some global properties at the top/first */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* moved global font sizes to here for easier manipulation + condensed */
p {
    font-size: 16px;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes colour of 3 letter span in title (h1) may be needed elsewhere */
.seo {
    color: #d9dcd6;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* ul and li currently only affects the nav in the header, 
if more lists are added in the future may need tweaking */
ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* updated with new nav element */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* large background image, given position relative as an anchor for the sr-only image */
.hero {
    position: relative;
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* put in to hide the image used to provide an alt text for the background-image above */
#sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* grouped styling, imgs and headings for all article selectors together to reduce clutter */
article section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article img {
    max-height: 200px;
}

/* grouped styling, imgs and headings for all aside selectors together to reduce clutter */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
    margin-bottom: 0;
}
